<!DOCTYPE html>
<html ng-app="tmdbApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>TMDb AngularJS</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="select2/select2.css">
    <link rel="stylesheet" href="main.css">

    <script src="//underscorejs.org/underscore-min.js"></script>
    <script src="//ajax.aspnetcdn.com/ajax/jQuery/jquery-2.1.1.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.18/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.18/angular-route.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.18/angular-sanitize.min.js"></script>
    <script src="select2/select2.min.js"></script>
    <script src="select2/ui-select2.js"></script>
    <script src="angular-ui/ui-bootstrap-tpls-0.11.0.min.js"></script>
    <script src="app.js"></script>
    <!-- fix ie10 mobile scaling -->
    <style>
        @-webkit-viewport{width:device-width}
        @-moz-viewport{width:device-width}
        @-ms-viewport{width:device-width}
        @-o-viewport{width:device-width}
        @viewport{width:device-width}
    </style>
    <script>
        if (navigator.userAgent.match(/IEMobile\/10\.0/)) {
            var msViewportStyle = document.createElement("style");
            msViewportStyle.appendChild(
                    document.createTextNode(
                            "@-ms-viewport{width:auto!important}"
                    )
            );
            document.getElementsByTagName("head")[0].
                    appendChild(msViewportStyle);
        }
    </script>
</head>
<body>
<div class="container">
    <h1 class="text-center"><a href="#/">Movie, TV, and Actor Lookup</a></h1>

    <section ng-controller="SearchController" class="row">
        <div class="col-sm-8 col-sm-push-2">
            <input id="search" type="hidden" ui-select2="selectOptions" ng-model="search"/>
            <div class="dropdown-spacer"></div>
        </div>
    </section>

    <div ng-view></div>
</div>
</body>
</html>