/* set color for gutter */
body {
    background-color: #124666;
}

.container {
    background-color: #fff;
    padding-bottom: 15px;
}

/* Home link and name links should have a hover underline but not the blue link color */
h1 a,
h2 a {
       color: #000;
       text-decoration: none;
}
h1 a:hover,
h1 a:focus,
h2 a:hover,
h2 a:focus {
    color: #000;
    text-decoration: underline;
}

/* primary section styles */
.pull-right {
    margin: 0 0 15px 15px;
}

.searchThumb {
    margin-right: 10px;
}

section.list,
section.list li {
    clear: both;
}

/* filter styles */
.list-filters {
    margin-top: 15px;
}

.text-filter {
    margin: 0 15px 15px 0;
}

.radio-filter {
    display: inline-block;
    margin: 0 15px 15px 0;
}

.radio-filter span {
    font-weight: bold;
}

.primary li.badge {
    margin-right: 10px;
}

/* show loading message while data is loading */
.loading-message {
    display: none;
}
.loading > * {
    display: none;
}
.loading .loading-message {
    display: block;
}

/* list view will stack on top of each other */
.list .view-list li {
    padding-left: 169px;
    min-height: 200px;
    background-color: #eee;
}
.list .view-list li:nth-child(2n) {
    background-color: #ccc;
}
.list .view-list li h2 {
    margin-top: 0;
    padding-top: 20px;
}
.list .view-list li .listThumb {
    float:left;
    margin-left: -169px;
}
.list .view-list li .badge {
    margin: 5px;
}

/* gallery view will hide everything except the image */
.list .view-gallery li {
    display: inline-block;
    margin: 0 5px 5px 0;
}
.list .view-gallery li > * {
    display: none;
}
.list .view-gallery li > .listThumb {
    display: block;
}


/* adjust min-height for credits list */
.credits .list .view-list li {
    min-height: 50px;
}
/* Give extra margin for non-xm view of credits list */
@media (min-width: 768px) {
    .credits {
        margin: 0 10%;
    }
}

/* Look like a search box, not a select */
.select2-container .select2-choice .select2-arrow {
    display: none;
}

.select2-allowclear.select2-container .select2-choice .select2-chosen {
    margin-right: 24px;
}

.select2-container .select2-choice abbr {
    right: 6px;
    top: 6px; /* center the "x" on the right side of the search */
}

.select2-container a.select2-choice {
    cursor: text;
}

.select2-dropdown-open a.select2-choice {
    height: 0;
    padding-top: 5px;
    margin-top: -5px;
}

.select2-dropdown-open {
    margin-top: -22px;
}

.dropdown-spacer {
    height: 0;
}

.select2-dropdown-open + input + .dropdown-spacer {
    height: 6px;
}

/* make sure floating badges don't break layout in search results */
.select2-results li {
    clear: both;
}