<div ng-class="{loading:isLoading}">
    <h1 class="loading-message text-center">Loading...</h1>

    <section class="primary">
        <img ng-src="{{primary.img}}" alt="{{primary.name}}" class="pull-right"/>

        <h2> {{ primary.name }} </h2>

        <ul class="list-inline">
            <li ng-repeat="genre in primary.genres" class="badge">{{genre.name}}</li>
        </ul>

        <p ng-if="primary.date"> Release Date: {{ primary.date | date: 'longDate' }}</p>

        <p ng-if="primary.status"> Status: {{ primary.status }}</p>

        <p ng-bind-html="primary.summary"></p>
    </section>

    <section class="list">
        <div class="list-filters">
            <label class="text-filter">
                filter: <input type="text" ng-model="filters.search"/>
            </label>

            <div class="radio-filter">
                <span>role:</span>

                <div class="btn-group">
                    <label class="btn btn-primary" ng-repeat="role in roles" ng-model="filters.role" btn-radio="role">{{role}}</label>
                    <label class="btn btn-primary" ng-model="filters.role" btn-radio="'all'">all</label>
                </div>
            </div>

            <div class="radio-filter">
                <span>view:</span>

                <div class="btn-group">
                    <label class="btn btn-primary" ng-model="filters.view" btn-radio="'list'">list</label>
                    <label class="btn btn-primary" ng-model="filters.view" btn-radio="'gallery'">gallery</label>
                </div>
            </div>
        </div>
        <ul class="list-unstyled row"
            ng-class="{'view-list': filters.view == 'list', 'view-gallery': filters.view == 'gallery'}">
            <li ng-repeat="credit in list | filter: filters.search | radio:'role':filters.role"
                class="clearfix">
                <a ng-href="#/person/{{credit.id}}" class="listThumb">
                    <img ng-src="{{credit.img}}" alt="{{credit.name}}" title="{{credit.name}}"/>
                </a>

                <p class="badge pull-right"> {{ credit.role }} </p>

                <h2><a ng-href="#/person/{{credit.id}}"> {{ credit.name }} </a></h2>

                <p ng-if="credit.character"> As {{ credit.character }} </p>

                <p ng-if="credit.job"> Job: {{ credit.job}} </p>
            </li>
        </ul>
    </section>
</div>