<div ng-class="{loading:isLoading}">
    <h1 class="loading-message text-center">Loading...</h1>

    <section class="primary">
        <img ng-src="{{primary.img}}" alt="{{primary.name}}" class="pull-right"/>

        <h2> {{ primary.name }} </h2>

        <p ng-if="primary.birthday"> Born: {{ primary.birthday | date: 'longDate' }}</p>

        <p ng-bind-html="primary.bio"></p>
    </section>

    <section class="list">
        <div class="list-filters">
            <label class="text-filter">
                filter: <input type="text" ng-model="filters.search"/>
            </label>

            <div class="radio-filter">
                <span>role:</span>

                <div class="btn-group">
                    <label class="btn btn-primary" ng-repeat="role in roles" ng-model="filters.role" btn-radio="role">{{role}}</label>
                    <label class="btn btn-primary" ng-model="filters.role" btn-radio="'all'">all</label>
                </div>
            </div>

            <div class="radio-filter">
                <span>media:</span>

                <div class="btn-group">
                    <label class="btn btn-primary" ng-model="filters.media" btn-radio="'movie'">movie</label>
                    <label class="btn btn-primary" ng-model="filters.media" btn-radio="'tv'">tv</label>
                    <label class="btn btn-primary" ng-model="filters.media" btn-radio="'all'">all</label>
                </div>
            </div>

            <div class="radio-filter">
                <span>view:</span>

                <div class="btn-group">
                    <label class="btn btn-primary" ng-model="filters.view" btn-radio="'list'">list</label>
                    <label class="btn btn-primary" ng-model="filters.view" btn-radio="'gallery'">gallery</label>
                </div>
            </div>
        </div>
        <ul class="list-unstyled row"
            ng-class="{'view-list': filters.view == 'list', 'view-gallery': filters.view == 'gallery'}">
            <li ng-repeat="credit in list | orderBy: 'date' | filter: filters.search | radio:'role':filters.role | radio:'media':filters.media"
                class="clearfix">
                <a ng-href="#/{{credit.media}}/{{credit.id}}" class="listThumb">
                    <img ng-src="{{credit.img}}" alt="{{credit.name}}" title="{{credit.name}}"/>
                </a>

                <p class="badge pull-right"> {{ credit.media }} </p>

                <p class="badge pull-right"> {{ credit.role }} </p>

                <h2><a ng-href="#/{{credit.media}}/{{credit.id}}"> {{ credit.name }} </a></h2>

                <p ng-if="credit.character"> As {{ credit.character }} </p>

                <p ng-if="credit.episodes"> Episodes: {{ credit.episodes }} <a ng-href="#/{{credit.media}}/{{credit.id}}/{{credit.credit}}">Details</a></p>

                <p ng-if="credit.date"> {{ credit.media == 'movie' ? 'Release' : 'Air' }} Date: {{ credit.date | date: 'longDate' }} </p>
            </li>
        </ul>
    </section>
</div>