<div ng-class="{loading:isLoading}">
    <h1 class="loading-message text-center">Loading...</h1>

    <section class="primary">
        <img ng-src="{{primary.img}}" alt="{{primary.name}}" class="pull-right"/>

        <h2> {{ primary.name }} </h2>

        <ul class="list-inline">
            <li ng-repeat="genre in primary.genres" class="badge">{{genre.name}}</li>
        </ul>

        <p ng-if="primary.date"> Air Date: {{ primary.date | date: 'longDate' }}</p>

        <p ng-if="primary.status"> Status: {{ primary.status }}</p>

        <p ng-if="primary.seasons"> Seasons: {{ primary.seasons }}</p>

        <p ng-if="primary.episodes"> Episodes: {{ primary.episodes }}</p>

        <p ng-bind-html="primary.summary"></p>
    </section>

    <h2 ng-if="hasCredit && isCreditLoading">Loading Credits...</h2>

    <section ng-if="hasCredit && !isCreditLoading" class="credits">
        <h2>Deatails for <a ng-href="#/person/{{credit.person.id}}">{{credit.person.name}}</a></h2>

        <div ng-if="credit.episodes.length" class="list">
            <h3>Episodes</h3>
            <ul class="list-unstyled view-list row">
                <li ng-repeat="episode in credit.episodes | orderBy:'date'" class="clearfix">
                    <img ng-src="{{episode.img}}" alt="{{episode.name}}" title="{{episode.name}}" class="listThumb"/>

                    <p> {{episode.name }} </p>

                    <p> Season {{episode.season}} Episode {{episode.episode}} </p>

                    <p ng-if="episode.date"> Air Date: {{ episode.date | date: 'longDate' }}</p>
                </li>
            </ul>
        </div>

        <div ng-if="credit.seasons.length" class="list">
            <h3>Seasons</h3>
            <ul class="list-unstyled view-list row">
                <li ng-repeat="season in credit.seasons | orderBy:'date'" class="clearfix">
                    <img ng-src="{{season.img}}" alt="{{season.season}}" title="{{season.season}}" class="listThumb"/>

                    <p ng-if="season.season"> Season {{season.season}} </p>

                    <p ng-if="season.date"> Air Date: {{ season.date | date: 'longDate' }}</p>
                </li>
            </ul>
        </div>
    </section>

    <section class="list">
        <div class="list-filters">
            <label class="text-filter">
                filter: <input type="text" ng-model="filters.search"/>
            </label>

            <div class="radio-filter">
                <span>role:</span>

                <div class="btn-group">
                    <label class="btn btn-primary" ng-repeat="role in roles" ng-model="filters.role" btn-radio="role">{{role}}</label>
                    <label class="btn btn-primary" ng-model="filters.role" btn-radio="'all'">all</label>
                </div>
            </div>

            <div class="radio-filter">
                <span>view:</span>

                <div class="btn-group">
                    <label class="btn btn-primary" ng-model="filters.view" btn-radio="'list'">list</label>
                    <label class="btn btn-primary" ng-model="filters.view" btn-radio="'gallery'">gallery</label>
                </div>
            </div>
        </div>
        <ul class="list-unstyled row"
            ng-class="{'view-list': filters.view == 'list', 'view-gallery': filters.view == 'gallery'}">
            <li ng-repeat="credit in list | filter: filters.search | radio:'role':filters.role"
                class="clearfix">
                <a ng-href="#/person/{{credit.id}}" class="listThumb">
                    <img ng-src="{{credit.img}}" alt="{{credit.name}}" title="{{credit.name}}"/>
                </a>

                <p class="badge pull-right"> {{ credit.role }} </p>

                <h2><a ng-href="#/person/{{credit.id}}"> {{ credit.name }} </a></h2>

                <p ng-if="credit.character"> As {{ credit.character }} </p>

                <p ng-if="credit.job"> Job: {{ credit.job}} </p>

                <p><a ng-href="#/tv/{{primary.id}}/{{credit.credit}}">Details</a></p>
            </li>
        </ul>
    </section>
</div>